body{
    background-color: #576574;
    margin: 0;
}

/* Header */
.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:beige;
    background-color: #222f3e;
    padding: 4%;
    text-align: center;
}

/* Links */
a{
    text-decoration: none;
}
.links{
    text-align: center;
    background-color: #bdc3c7;
    padding: 0.5%;
}
.links:hover{
    background-color: #ecf0f1;
}

/* Profile Picture */
.pp{
    text-align: center;
    margin-top: 1%;
}
.photo{
    width: 15%;
    height: auto;
    text-align: center;
    border-radius: 10%;
    opacity: 0.9;
}
.photo:hover{
    opacity: 1;
}
@media only screen and (max-width: 600px){
    .photo{
        width: 30%;
    }
}

.about{
    text-align: center;
    padding-top: 1%;
}