body{
    background-color:ghostwhite;
    margin: 0;
}
.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:beige;
    background-color: #1abc9c;
    padding: 4%;
    text-align: center;
}
.links{
    text-align: center;
}
img{
    width: 20%;
    height: "auto";
}
.about{
    margin-left: 10%;
    margin-right: 10%;
}
.projects{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}
.competitions{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}