body{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #d1ccc0;
}
img{
    border-radius: 50%;
}
.header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
pre{
    text-align: center;
}
.links{
    text-align: center;
}
.projects{
    display: block;
}
.projects-list{
    display: block;
}
.competitions{
    display: block;
}
.competitions-list{
    display: block;
}